.card-sprites {
  width: 97%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
  border: solid black 1px;
  border-radius: 20px;
}
.card-sprites-versions {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.card-sprites-images {
  width: 25%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.card-sprites-images img {
  width: 200px;
  height: 200px;
}
