.card {
  margin: 20px;
  height: fit-content;
  width: 225px;
  padding: 10px 10px;
  border-radius: 20px;
  background-color: transparent;
}
.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  filter: brightness(110%);
}
.top-card,
.bottom-card {
  height: 50%;
}
.card-image {
  width: 130px;
  height: 130px;
}
.bottom-card {
  align-items: center;
}

.type {
  margin: 5px;
  border-radius: 10px;
  width: fit-content;
  padding: 5px 10px;
}
