.card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: fit-content;
  margin: 20px;
  padding: 0 20px;
  width: 225px;

  border-radius: 20px;
  background-color: white;
}
.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  filter: brightness(110%);
}
.top-card,
.bottom-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50%;
}
.card-image {
  width: 130px;
  height: 130px;
}
.bottom-card {
  align-items: center;
}

.type {
  border-radius: 10px;
  padding: 5px 10px;
  width: fit-content;
}
