.grass {
  background-color: #78c84f;
}
.poison {
  background-color: #9f419f;
}
.fire {
  background-color: #f08030;
}
.normal {
  background-color: #a7a877;
}
.water {
  background-color: #6890f0;
}
.ghost {
  background-color: #705998;
}
.flying {
  background-color: #a890f0;
}
.electric {
  background-color: #f9d030;
}
.grass-type {
  background-color: #6cb647;
}
.poison-type {
  background-color: #8a388a;
}
.fire-type {
  background-color: #d8742c;
}
.normal-type {
  background-color: #909167;
}
.water-type {
  background-color: #6388df;
}
.ghost-type {
  background-color: rgb(99, 79, 133);
}
.flying-type {
  background-color: #9f89e4;
}
.electric-type {
  background-color: #e7c22d;
}
