.card-profile {
  width: 50%;
  margin: 20px;
  border-radius: 20px;
  padding-bottom: 20px;
}
.top-profile {
  margin: 0 20px;
}
.middle-profile {
  margin: 0 20px;
}
.bottom-profile {
  margin: 0 20px;
}
.type-list-profile {
  width: 30%;
}
.type-profile {
  margin: 10px;
}
.image-profile {
  width: 90%;
  height: 90%;
}
