.App {
  height: 100vh;
  padding: 0 15%;
  background-color: rgb(250, 242, 232);
  overflow: auto;
}
.searchBar {
  border: 1px solid white;
  border-radius: 10px;
  padding: 17px 17px 17px 17px;
  width: 315px;
}
.container-of-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
