.Card {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 20px;
  padding: 0 20px;
  width: 225px;
  flex-wrap: wrap;
  border-radius: 20px;
  height: fit-content;
}
.top-card,
.bottom-card {
  display: flex;
  flex-direction: row;
  height: 50%;
  justify-content: space-between;
}
.card-image {
  width: 130px;
  height: 130px;
}
.bottom-card {
  align-items: center;
}

.grass,
.poison,
.fire,
.normal,
.water,
.ghost,
.flying,
.electric {
  border-radius: 10px;
  padding: 5px 10px;
  width: auto;
  width: fit-content;
}
.grass {
  background-color: #78c84f;
}
.poison {
  background-color: #9f419f;
}
.fire {
  background-color: #f08030;
}
.normal {
  background-color: #a7a877;
}
.water {
  background-color: #6890f0;
}
.ghost {
  background-color: #705998;
}
.flying {
  background-color: #a890f0;
}
.electric {
  background-color: #f9d030;
}
