.Card {
  display: flex;
  flex-direction: column;
  background-color: rgb(83, 177, 83);
  margin: 20px;
  padding: 0 20px;
  width: 225px;
  flex-wrap: wrap;
  border-radius: 20px;
}
.top-card,
.bottom-card {
  display: flex;
  flex-direction: row;
  height: 50%;
  justify-content: space-between;
}
