body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.index {
  height: 100vh;
  background-image: url("./images/pokemon-app-background.jpeg");
  background-size: cover;
}
.title-app {
  height: 120px;
}
.top-page {
  width: 100%;
}
.title-page {
  margin: 20px 0;
  padding-right: 50px;
}
.back-arrow {
  margin-top: 30px;
  margin-left: 20px;
}
