.card {
  position: relative;
  margin: 10px 10px;
  width: 18%;
}
.card img {
  display: block;
}

.front,
.back {
  width: 130px;
}

.card .front {
  position: absolute;
  transform: rotateY(90deg);
  transition: all ease-in 0.2s;
}
.flipped .front {
  transform: rotateY(0deg);
  transition-delay: 0.2s;
}

.card .back {
  transition: all ease-in 0.2ss;
  transition-delay: 0.2s;
}
.flipped .back {
  transform: rotateY(90deg);
  transition-delay: 0s;
}
